.page-background1 {
  background-image: url(".././assets/bg1.jpg");
  background-size: cover;
  height: 100vh;
}

.title-helper {
  font-family: "Cormorant Garamond", "Crimson Text", serif;
  font-size: 5vw;
  color: #0f334f;
  padding: 4vh;
}

#text-helper {
  font-family: "Cormorant Garamond", "Crimson Text", serif;
  font-size: 2vw;
  color: #0f334f;
  line-height: 1.3;
  padding: 4vh;
}
.helper {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
}
/* Mobile-specific adjustments */
@media (max-width: 600px) {
  .page-background {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
  .page-background1 {
    background-size: 600%; /* Zoom in on the background image */
    background-position: bottom 400%; /* Centered horizontally and 70% down vertically */
    width: 100vw;
    height: 100vh;
  }
  .title {
    position: absolute; /* Absolute positioning */
    top: 20%; /* Move down to the middle */
    left: 40%; /* Move right to the middle */
    transform: translate(-50%, -50%); /* Center the element */
    font-size: 16vw; /* Responsive font size */
    padding: 15vh;
  }

  #text-landingPage {
    position: absolute; /* Absolute positioning */
    top: 29%; /* Move down slightly below the title */
    left: 40%; /* Move right to the middle */
    transform: translate(-60%, -50%); /* Center the element */
    font-size: 4vw; /* Responsive font size */
    line-height: 1.5;
  }

  .title-helper {
    font-size: 8vw;
    line-height: 1.2;
  }

  #text-helper {
    font-size: 4vw;
    padding-top: 0.3vh;
    line-height: 1.2;
  }

  #email-input {
    width: 50vw;
  }

  #email-landingPage {
    align-items: center;
    padding-top: 1vh;
  }
}
